In [1]:
import os

os.listdir()

['.ipynb_checkpoints', 'justolympics.csv', 'Salaries.csv', 'Untitled.ipynb']

In [2]:
#Import Libraries we need
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

#Set styling of the graph
sns.set_style('whitegrid') #Used to plot the background and style
sns.set(rc={'figure.figsize':(12,12)}) #USe to set the figuresize

In [4]:
sal = pd.read_csv('salaries.csv')
sal.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

1. What is the Average BasePay?

In [7]:
sal['BasePay'].mean()

66325.44884050643

In [15]:
def string_converter(x):
    return float(x)
#Run all rows through 
sal['BasePay'] = sal.BasePay.apply(string_converter)
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

2. What is the highest amount of OvertimePay in the dataset

In [18]:
sal['OvertimePay'].max()

245131.88

3. What Job title of 'JOSEPH DRISCOL'?

In [23]:
# sal['EmployeeName'] == 'JOSEPH DRISCOL'
myarr = np.array([1,2,3,4,5,6,7])
myarr <5

array([ True,  True,  True,  True, False, False, False])